Logs
UserSettings
Layouts
.vs
obj
/Temp
/Library/APIUpdater
/Library/Artifacts
/Library/Bee
/Library/TempArtifacts
/Library/ArtifactDB
/Library/ilpp.pid
/Library/SourceAssetDB
/Library/ShaderCache
/Library/StateCache
/Library/ScriptAssemblies

